@using Reclat.MVC.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disposal service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                            <a href="@Url.Action("Index", "Home")" class="link-wo_underline navbar-brand">
                                <div style="float: left">
                                    <img src="../../Content/Images/reclat_logo.png" />
                                </div>
                                <div>
                                    <div style="font: normal normal bold 33px 'open sans', sans-serif; color: #585551;">
                                        <span>Utilizācijas serviss</span>
                                    </div>
                                    <div class="awesome" style="font: normal normal normal 15px 'open sans', sans-serif; color: #585551;">
                                        <span>Nolietotu elektropreču utilizācijas pakalpojumi uzņēmumiem</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="navbar-main" class="collapse navbar-collapse text-right"> @*col-lg-5 col-md-5 col-sm-2 col-xs-2*@
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Disposal", "Home")" class="link-wo_underline">
                                <span>Utilizācija</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Recycling", "Home")" class="link-wo_underline">
                                <span>Pārstrade</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("BuyIt", "Home")" class="link-wo_underline">
                                <span>Ieperkam</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Helpful", "Home")" class="link-wo_underline">
                                <span>Nodērigi</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Kontakti", "Home")" class="link-wo_underline">
                                <span>Kontakti</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid background-class">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <footer class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-3">
                <a href="https://www.facebook.com/RecycleLatgaleSia/" target="_blank">
                    <img alt="Wix Facebook page" data-type="image" style="width: 30px; height: 30px;" src="~/Content/Images/facebook.png">
                </a>
            </div>
            <div class="col-sm-9 col-xs-9 text-right">
                <span>&copy; 2017 - www.reclat.lv</span>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
